* {
    foreground:                  #dfe3e7;
    
    active-background:           #b4cad6e6;
    urgent-background:           #ffb4ab;
    urgent-foreground:           #690005;
    accent:                      #8bd0ef;
    arch-color:                  #8bd0ef; 

    selected-background:         @accent;
    selected-urgent-background:  @urgent-background;
    selected-active-background:  @active-background;
    separatorcolor:              @active-background;
    bordercolor:                 @active-background;
}