* {
    foreground:                  #f0dedf;
    
    active-background:           #e5bdbfe6;
    urgent-background:           #ffb4ab;
    urgent-foreground:           #690005;
    accent:                      #ffb2b9;
    arch-color:                  #ffb2b9; 

    selected-background:         @accent;
    selected-urgent-background:  @urgent-background;
    selected-active-background:  @active-background;
    separatorcolor:              @active-background;
    bordercolor:                 @active-background;
}