* {
    foreground:                  #e0e2e8;
    
    active-background:           #bac8dbe6;
    urgent-background:           #ffb4ab;
    urgent-foreground:           #690005;
    accent:                      #9ecafc;
    arch-color:                  #9ecafc; 

    selected-background:         @accent;
    selected-urgent-background:  @urgent-background;
    selected-active-background:  @active-background;
    separatorcolor:              @active-background;
    bordercolor:                 @active-background;
}